body {
    font-size: .9rem !important;
    min-height: 100vh;
    position: relative;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-logo{
    height:30px;
    witdth:30px;
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: #00a0f5;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.btn-primary {
    color: #fff;
    background-color: #00a0f5 !important;
    border-color: #00a0f5 !important;
}

.text-TKE{
    color:#00a0f5 !important;
}

.text-pre-stage{
    color:#36a2eb !important;
}

.text-stage{
    color:#4bc0c0 !important;
}

.navbar .form-control {
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none; ! important;
    outline-style: none;
    box-shadow: none;;
}

.custom-select-country{
    display: inline-block;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.greyed-out{
    color: #c6cad8 !important;
}

.clickable-row{
    cursor:pointer;
}

.dismissed{
    color: #000000;
    background-color: #DDDDDD;
}



@media (min-width: 576px) {
    .logo{
        height: 40px;
        width: 52px;
    }
}

@media (min-width: 768px) {
    .logo{
        height: 50px;
        width: 65px;
    }

}

@media (min-width: 992px) {
    .logo{
        height: 50px;
        width: 65px;
    }
}

@media (min-width: 1200px) {
    .logo{
        height: 70px;
        width: 91px;
    }
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 0 100%; }
}

.animate-area	{
    background-image: url(../img/backgroundTopBar.png);
    background-position: 0px 0px;
    background-repeat: repeat-x;

    animation: animatedBackground 80s linear infinite;
}

.alert-merged {
    color: #535705;
    background-color: #b4eddf;
    border-color: #ace6d7;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color:#00a0f5 !important;
}
