<nav class="navbar navbar-expand-lg navbar-light bg-light col-md-12 ml-sm-auto col-lg-12">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <a href="{base_url()}PA/MAPS/"><button class="btn btn-outline-success my-2 my-sm-0">Auxiliary Mappings</button></a>
    </div>
</nav>

